.contact-us-page{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Fasthand;
    text-align: left;
    font-size: 10vw;
    padding: 0%;
    margin: 0%;
}

body{
    margin: 0%;
    padding: 0%;
}

.howbee{
    position: relative;
    top: 1.6vh;
    left: 2vw;
    font-size: 8vw;
    margin: 0%;
    padding: 0%;
    font-family: 'DM Sans';
    display: inline-block;
}

.bee{
    color: #ffdc2e;
}

.tagline-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}


.tagline{
    position: relative;
    left: 17.5vw;
    font-size: 3vw;
    display: block;
    width: 30vw;
    height: auto;
    font-family: 'Fasthand';
    top: -4vw;
}

@keyframes compress-expand {
    0% {
        transform: scale(0.3);
    }

    100% {
        transform: scale(1);
    }
}

.discover-your-potential{
    position: relative;
    right: 2vw;
    font-size: 2vw;
    top: -1vh;
    display: block;
    font-family: 'Fasthand';
    animation: compress-expand 0.5s forwards;
    transform-origin: left;
}

.frame-item{
    position: relative;
    left: 0px;
    top: -4vh;
    border-top: 1px solid #000000;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
}

.float-like-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quote{
    position: relative;
    top: 1vh;
    left: 2vw;
    display: flex;
    flex-direction: column;
    justify-self: top;
}

.quote-style{
    font-size: 4vw;
    font-family: Felipa;
    animation: compress-expand 0.5s forwards;
    transform-origin: left;
}

.quote-2-line{
    display: flex;
    flex-direction: row;
    justify-self: start;
}

.float-like-a{
    position: relative;
    width: 31vw;
}

.bee2{
    padding: 0;
    margin: 0;
}

.bee3 {
    position: relative;
    font-size: 5vw;
    left: 1vw;
    display: inline-block;
    color: #ffdc2e;
    font-family: 'DM Sans';
    animation: compress-expand 0.5s forwards;
    transform-origin: left;
}

.span {
    font-family: Felipa;
    color: #000;
}

.ali{
    position: relative;
    font-size: 3vw;
    top: 5vh;
    left: -2vw;
    font-family: Felipa;
    animation: compress-expand 0.5s forwards;
    transform-origin: left;
}

.connect-with{
    position: relative;
    top: 1vh;
}

@keyframes moveFromLeft {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

.bee-background {
    position: absolute;
    top: 21vh;
    left: 0px;
    object-fit: fill;
    animation: moveFromLeft 0.5s linear;
}

@keyframes moveDiagonally {
    0% {
        transform: translate(-50%, 50%);
    }

    100% {
        transform: translate(0%, 0%);

    }
}

.bee-image-motion{
    position: absolute;
    left: 1vw;
    top: -10vh;
    width: 60vw;
    height: 90vh;
    object-fit: contain;
    animation: moveDiagonally 0.5s linear;
}

.contact-us-form{
    position: relative;
    top: -9vh;
    right: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.reach-out-to-container{
    font-size: 5vw;
    font-family: Fasthand;
    color: #ffdc2e;
}

.out-to-us{
    color: #000000;
}

.group-parent{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 23px;
    right: 6vw;
    padding-top: 7vh;
}

.container {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    right: 3vw;
}

.contact-item {
    font-family: Rubik;
    text-align: center;
    border-bottom: #000000 1px solid;
    width: 20vw;
    font-size: 2vw;
}


.submit-button {
    width: 60%;
    position: relative;
    border-radius: 10px;
    background-color: #ffdc2e;
    height: 55px;
    font-size: 2vw;
}

.vertical-line{
    position: absolute;
        top: 0px;
        left: 530.5px;
        border-right: 1px solid #000000;
        box-sizing: border-box;
        width: 1px;
        height: 100vh;
}